{% extends '@Admin/base.html.twig' %}

{% block body %}
    <h1>Car offers</h1>

    <a href="{{ path('admin_car_offer_add') }}">Add</a>

    <table class="table">
        {% for carOffer in carOffers %}
            <tr>
                <td>{{ carOffer.getName() }}</td>
                <td>{{ carOffer.getPrice() }} Kč</td>
                <td>
                    <a href="{{ path('admin_car_offer_edit', {
                        'id': carOffer.getId()
                    }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block sidebar %}
    sidebar z car offer list
    {% for carOffer in carOffers %}
            <td>{{ carOffer.getName() }}</td>
            <td>{{ carOffer.getPrice() }} Kč</td>
    {% endfor %}

    {% include('@Admin/car-offer/_sidebar-box-news.html.twig') with {
        carOffers: carOffers
    } only %}
{% endblock %}
